services:
  db:
    
    image: postgis/postgis:16-3.4
    container_name: urbanofix-db

    environment:
      POSTGRES_DB: urbanofix_db
      POSTGRES_USER: neondb_owner
      POSTGRES_PASSWORD: npg_C92PucfhVaXB
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      
      - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U neondb_owner -d urbanofix_db"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - app-net
    restart: unless-stopped

  backend:
  
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: urbanofix-backend

    env_file:
      - ./backend/.env

    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-net
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: urbanofix-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-net

volumes:
  db_data:

networks:
  app-net:
    driver: bridge