<div class="flex justify-content-center align-items-center h-screen">
    <form #UserForm="ngForm" (ngSubmit)="updateUser(UserForm.value, UserForm)">
        <p-card header="Edit user">
            <div class="flex gap-3 mt-5">
                <h2>Name</h2>
                <p>{{user.name}}</p>
            </div>
            <div class="flex gap-3 mt-5">
                <h2>Last name</h2>
                <p>{{user.lastName}}</p>
            </div>
            <div class="flex gap-3 mt-5">
                <h2>Email</h2>
                <p>{{user.email}}</p>
            </div>
            <div class="flex justify-content-center mt-5">
                <p-select [options]="roles" [(ngModel)]="user.role" placeholder="Select a Role" name="role" />
            </div>
            <div class="flex flex-column justify-content-center align-items-center mt-5">
                <p-floatlabel>
                    <input pInputText id="phone" autocomplete="off" name="phone" [(ngModel)]="user.phone" required
                        #phoneCtrl="ngModel" />
                    <label for="phone">Phone</label>
                </p-floatlabel>
            </div>
            <div class="flex justify-content-center mt-5">
                <p-button label="Submit" type="submit" severity="success" />
            </div>
        </p-card>
    </form>
</div>