<div class="card">
    <p-table [value]="categories">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>
                    {{category.name}}
                </td>
                <td>
                    {{category.code}}
                </td>
                <td>
                    <p-button label="Edit" severity="info" class="mr-3"
                        [routerLink]="['/category-form', category.id]" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>