<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="text-center p-5 border-round-lg shadow-3 surface-card w-80 flex flex-column gap-3">
    <p-image src="https://github.com/HectorMontano2023/logo-auth0/blob/main/UrbanoFix.png?raw=true" class="align-content-center" />
    <h1 class="text-3xl font-bold">¡Bienvenido!</h1>
    <p class="mb-3">Inicia sesión para continuar</p>

    <button pButton class="p-button-rounded p-button-primary w-full" label="Iniciar sesión"icon="pi pi-user" (click)="login()"></button>
    <button pButton class="p-button-rounded p-button-outlined w-full" label="Registrarse" icon="pi pi-user-plus" (click)="login()"></button>
  </div>
</div>