<div class="card">
    <p-table [value]="reports">
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>State</th>
                <th>Severity</th>
                <th>location</th>
                <th class="text-center">Options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
            <tr>
                <td>
                    {{report.title}}
                </td>
                <td>
                    {{report.state}}
                </td>
                <td>
                    {{report.severity}}
                </td>
                <td>
                    <p-button class="pi pi-map-marke" severity="info">
                        <i class="pi pi-map-marker"></i>
                    </p-button>
                </td>
                <td>
                    <p-button label="See complete" severity="help" class="mr-3"/>
                    <p-button label="Edit" severity="info" class="mr-3"/>
                    <p-button label="Delete" severity="danger" class="mr-3"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="map-container relative">
    <div class="flex justify-content-center">
        <p-button label="Complete" severity="success" class="overlay-button" />
    </div>
    <google-map class="map" height="100%" width="100%" [center]="center" [zoom]="zoom" [options]="mapOptions">
        <map-advanced-marker>
        </map-advanced-marker>
    </google-map>
</div>